[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "roboy_dialog"]
	path = roboy_dialog
	url = https://github.com/Roboy/roboy_dialog.git
[submodule "RoboyUnityFace"]
	path = RoboyUnityFace
	url = git@github.com:Roboy/RoboyUnityFace.git
[submodule "roboy_face"]
	path = roboy_face
	url = git@github.com:Roboy/roboy_face.git
[submodule "ParlAI"]
	path = ParlAI
	url = https://github.com/Roboy/ParlAI.git
